<div>
  <p>Books: {{ store.books() | json }}</p>
  <p>Loading: {{ store.isLoading() }}</p>

  <p>Pagination: {{ store.filter() | json }}</p>

  <p>Query: {{ store.filter.query() }}</p>
  <p>Order: {{ store.filter.order() }}</p>
</div>

<div class="w-full max-w-xs">
  <form
    [formGroup]="bookForm"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    (submit)="addBook({ title: bookForm.controls.title.value })"
  >
    <div class="mb-4">
      <label for="book-title" class="block text-gray-700 text-sm font-bold mb-2"
        >Title</label
      >
      <input
        type="text"
        id="book-title"
        formControlName="title"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Add Book
      </button>
    </div>
  </form>
</div>
